
/*general*/
* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.search-screen {
  padding: 0px 0px 0px 0px;

}

.text-screen {
  padding: 0px 0px 0px 0px;

}

/*header*/
.page-header {
  overflow: hidden;
  background-color: #ffffff;
  padding: 20px 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/*header buttons*/
.page-header button {
  color:  #BDBDBD;
  border: none;
  background-color: #ffffff;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  font-size: 18px; 
  border-radius: 4px;
  vertical-align: middle;
  transition: 0.3s;
}

.page-header .text-options {
  float: right;
}

.page-header .text-options button:hover{
  color: #333333;
}

.page-header button.menu-icon {
  float: left;
  line-height: 0;
  cursor: pointer;
}

.page-header button.menu-icon:hover {
  color: #333333;
}

.page-header button.active {
  color: #219653;
}
.page-header button.active:hover  {
  color: #219653;
}

/*date-inner*/

.date-inner {
  padding: 20px 20px;
}

.date-header {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 700;
  margin: 0px;
  padding: 0px 0px;
  font-size: 48px; 
}

.date-text {
  display: block;
  box-sizing: padding-box;
  height: unset;
  overflow:hidden;
  resize: none;
  width: 100%;
  padding: 0px;
  border: none;
  background-color: transparent;
  font: inherit;
  font-size: 18px;
  line-height: 1.3;
} 

/*
div:empty:before {
  content:attr(data-datetext_placeholder);
  color: #BDBDBD;
  font-size: 18px;
*/


.date-text::placeholder {
  color: #BDBDBD;
  font: inherit;
  font-size: 18px;
}


.date-text:focus::placeholder {
  font-size: 0;
}

.date-text:hover::placeholder,
.date-text:active::placeholder {
  opacity: 0.5;
}

.datetext-counter {
  font-size: 14px;
  display: inline-block;
  vertical-align: baseline;
  padding: 0px 0;
  margin-right: auto;
  color: #BDBDBD;
}

/*text-inner*/

.text-inner {
  padding: 20px 20px;
}