* {
  outline: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.layout {
  display: flex;
  justify-content: space-between;
}

.left-column {
}

.right-column {
  flex-grow: 1;
  background-color: white;
  padding: 0 35px;
}

.sidebar {
  width: 0px;
  transition: 0.3s;
}

.sidebar.sidebar--opened {
  width: 500px;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #bdbdbd;
  background-color: white;
}

.button {
  color: #bdbdbd;
  border: none;
  background-color: #ffffff;
  padding: 12px 12px;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}

button:hover {
  color: #333333;
  cursor: pointer;
}

.content {
  height: calc(100vh - 47px);
  overflow-y: scroll;
}

.cards {
  height: calc(100vh - 20px);
  overflow-y: scroll;
}
