* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}


/* 1st level: main screen*/
.text-screen  {
  transition: margin-left .3s;
}

main{
  padding: 80px 0px 0px 0px;
}

/*1st level: sidebar*/
.sidebar-screen {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.3s;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2)
}


/*2nd level: main screen*/
/*header*/
.page-header {
  overflow: hidden;
  position: fixed; 
  width: 100%;
  top: 0px;
  background-color: #ffffff;
  padding: 20px 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/*buttons*/
 button {
  color:  #BDBDBD;
  border: none;
  background-color: #ffffff;
  padding: 12px 12px;
  text-decoration: none;
  font-size: 18px; 
  border-radius: 4px;
  transition: 0.3s;
}

.text-options {
}

.menu-icon {
}



button:hover{
  color: #333333;
  cursor: pointer;
}

.page-header button.active {
  color: #333333;
}

/*date-inner*/

.date-inner {
  padding: 20px 20px;
}

.date-header {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 700;
  margin: 0px;
  padding: 0px 0px;
  font-size: 48px; 
}

.date-text {
  display: block;
  height: unset;
  overflow:hidden;
  resize: none;
  width: 100%;
  padding: 0px;
  border: none;
  background-color: transparent;
  font: inherit;
  font-size: 18px;
  line-height: 1.3;
} 

.date-text::placeholder {
  color: #BDBDBD;
  font: inherit;
  font-size: 18px;
}

.date-text:focus::placeholder {
  font-size: 0;
}

.date-text:hover::placeholder,
.date-text:active::placeholder {
  opacity: 0.5;
}

.datetext-counter {
  font-size: 14px;
  display: inline-block;
  vertical-align: baseline;
  padding: 0px 0;
  margin-right: auto;
  color: #BDBDBD;
}

/*text-inner*/

.text-inner {
  padding: 20px 20px;
}

/*2st level: sidebar*/
.sidebar {
  padding:  10px 20px;
}

.logo {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 48px; 
  display:block;
  text-decoration: none;
  transition: 0.3s;
}